

   <h1> <div class="page-header"> The Art World Online </div> </h1>

  <p>  Artsy features the world’s leading galleries, museum collections,
    foundations, artist estates, art fairs, and benefit auctions, all in one place.
    Our growing database of 350,000 images of art, architecture, and design by 50,000
    artists spans historical, modern, and contemporary works, and includes the largest
    online database of contemporary art. Artsy is used by art lovers, museum-goers, patrons,
    collectors, students, and educators to discover,
    learn about, and collect art.  </p>


   <div class="row">
       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="http://1.bp.blogspot.com/-q1n2yan55Ys/Uaod-j3q3jI/AAAAAAAAA6w/kRFQ892D1mQ/s1600/andy_warhol_marilyn_monroe.jpg"
                    alt="Andy Warhol">
               <div class="caption">
                   <h3>Andy Warhol's Marilyn Diptych</h3>
                   <p>Warhol made a series of silk paintings paying tribute to Marilyn Monroe</p>
                   <p><a href="http://1.bp.blogspot.com/-q1n2yan55Ys/Uaod-j3q3jI/AAAAAAAAA6w/kRFQ892D1mQ/s1600/andy_warhol_marilyn_monroe.jpg"
                         class="btn btn-primary" role="button">View</a>
                       <a href="https://en.wikipedia.org/wiki/Andy_Warhol" class="btn btn-default" role="button">Andy Warhol</a></p>
               </div>
           </div>

       </div>

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="https://s-media-cache-ak0.pinimg.com/736x/84/43/52/8443526fc3ba6a6837148cb60b895a60.jpg"
                    alt="Salvador Dali">
               <div class="caption">
                   <h3>Salvador Dali's Ship with butterfly sails</h3>
                   <p>The butterflies that create the ship's sails are vibrant and each one is unique.
                       The clouds swirl thick in a clear blue sky above a blue green ocean.
                       This painting radiates happiness and creativity.</p>
                   <p><a href="https://s-media-cache-ak0.pinimg.com/736x/84/43/52/8443526fc3ba6a6837148cb60b895a60.jpg"
                         class="btn btn-primary" role="button">View</a>
                       <a href="https://en.wikipedia.org/wiki/Salvador_Dal%C3%AD" class="btn btn-default" role="button">Salvador Dali</a></p>
               </div>
           </div>

       </div>

       <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
               <img src="http://krollermuller.nl/media/cache/spotlight_small/media/spotlight/image/google-art-blokje-3.jpg"
                    alt="Vincent Van Gogh">
               <div class="caption">
                   <h3>Vincent Van Gogh's Postman Joseph Roulin</h3>
                   <p>The Roulin Family is group of portrait paintings Vincent van Gogh executed in Arles</p>
                   <p><a href="http://krollermuller.nl/media/cache/spotlight_small/media/spotlight/image/google-art-blokje-3.jpg"
                         class="btn btn-primary" role="button">View</a>
                       <a href="https://en.wikipedia.org/wiki/Vincent_van_Gogh" class="btn btn-default" role="button">Vincent Van Gogh</a></p>
               </div>
           </div>

       </div>

   </div>

</div>
</div>