
<h1 class="page-header"> My Work </h1>


<div class="table-responsive">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th> Artwork </th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Artwork Title</th>
            <th> Action</th>

        </tr>

        <tr>
            <th><input ng-model="workUrl" type="text" class="form-control" placeholder="URL"></th>

            <th><input ng-model="workTitle" type="text" class="form-control" id="inputText1" placeholder="Name"></th>
            <th>
                <button type="button" class="btn btn-link" ng-click="addWork(workTitle, workUrl)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-link" ng-click="updateWork(workTitle, workUrl)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="work in userWork">
            <td align="center"><img src="{{work.url}}" height="200px"> </td>
            <td><a href="#/home">{{work.title}}</a></td>
            <td>
                <button type="button" class="btn btn-default" ng-click="deleteWork($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

                <button type="button" class="btn btn-link" ng-click="selectWork($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
