
<h1> Forms </h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
    <li role="presentation"><a href="#/fields">Fields</a></li>
</ul>

<div class="table-responsive">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
            <th> Action</th>

        </tr>

        <tr>
            <th><input ng-model="formTitle" type="text" class="form-control" id="inputText1" placeholder="Name"></th>
            <th>
                <button type="button" class="btn btn-link" ng-click="addForm(formTitle)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-link" ng-click="updateForm(formTitle)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="form in userForms">
            <td><a href="#/forms/:formId/fields">{{form.title}}</a></td>
            <td>
                <button type="button" class="btn btn-default" ng-click="deleteForm($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

                <button type="button" class="btn btn-link" ng-click="selectForm($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
