
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar,#navbar1" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/art">ArtBridge</a>
    </div>
   <span ng-show="user">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right user-area">
        <li>
          <button ng-click="showNotifications()" class="btn btn-default" type="button">
            <span class="ion-clipboard"></span> Pending Orders
          </button>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="ion-android-person"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#/profile"><span class="ion-android-person"> Profile</a></li>
              <li><a href="#/search"><span class="ion-search"></span> Search</a></li>
              <li><a ng-href="#/seller"><span class="ion-plus"></span> Add new Artwork</a></li>
              <li><a ng-href="#/artOffered"><span class="ion-images"></span> My Artwork</a></li>
              <li><a href="#/order"><span class="ion-card"></span> My Order history</a></li>
              <li><a ng-click="logout()"><span class="ion-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    </span>
    <span ng-show="!user">
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right user-area">

            <button ng-click="search()" class="btn btn-default" type="button"><span class="ion-search"></span> Search Artwork</button>

        </ul>
      </div>
    </span>
  </div>
</nav>