
<h1>Welcome ~</h1>
<br>
<br>
<blockquote>
    <p> A form is a formatted document containing blank fields that users can fill in with data.
    </p>
    <small> Wikipedia. <a href="https://en.wikipedia.org/wiki/Form_(document)"> Read More</a></small>
</blockquote>


<p>
    Web-forms can resemble paper or database forms because web users fill out the forms using checkboxes,
    radio buttons, or text fields. For example, forms can be used to enter shipping or credit card data to order a product,
    or can be used to retrieve search results from a search engine.n. </p>


<div class="panel panel-default">
<div class="panel-heading"> Why Form Maker? </div>
    <div class="panel-body">
                Form Maker is a complete online form builder solution that provides all you need to create a form and publish it online.
                Here's why Form Maker is awesome:
                <br>
                <ul>
                    <li> Simple to use </li>
                    <li> Flexible </li>
                    <li> Reliable </li>
                    <li> Secure </li>
                    <li> Quick </li>
                    <li> Mobile friendly </li>
                </ul>
                and so much more!
        <b>Start creating an awesome form <a href="#/login">here </a> !</b>
    </div>
</div>

</div>
</div>